# V-DEPLOY-1730-002

# Composer dependencies
/vendor/

# Node (if using Laravel Mix / Vite)
node_modules/

# Laravel environment
.env
.env.backup
.phpunit.result.cache

# Laravel storage
/storage/
bootstrap/cache/*.php

# Ignore public storage symlink target
public/storage
